/* Container for the table */
.table-container {
  margin: 1rem 0;
  padding: 20px;
  align-items: center;
}

/* Table styles */
.training-page-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd; /* Add outer border to the table */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional for a subtle shadow */
}

.training-page-table th,
.training-page-table td {
  padding: 10px;
  text-align: center;
}

.training-page-table th {
  background-color: #dbdbf8;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.training-page-table td {
  border-top: 1px solid #ddd;
}

/* Alternating row colors for better readability */
.training-page-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.self-trainings-section {
  margin-top: 2rem;
}

.self-trainings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.create-self-training-button {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.create-self-training-button:hover {
  background-color: #45a049;
}

